@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #f8f9fa;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #dee2e6;
  color: #212529;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 0.75rem 2rem;
}

button:hover,
button:active {
  background-color: #212529;
  border-color: #212529;
  color: #f8f9fa;
}
